HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


application/jdk-17
application/lib

.gradle/
gradle/*
/cache
/application/cache/
/config.properties
/application/config.properties
/de penning.pdf
/application/de penning.pgn
/de penning.pgn
/input1/example.pdf
/example.pdf
/input1/example.pgn
/application/fen2pdf.exe
/application/fen2pgn_1.0.zip
/gradlew
/gradlew.bat
/icons/icon.ico
/application/icons/icon.png
